version: '3.9'
services:

  postgresql:
    image: postgres:12.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    container_name: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"

  backend:
    container_name: api
    build: .
    command: >
      sh -c " python manage.py makemigrations &&
              python manage.py migrate &&
              python manage.py collectstatic --noinput &&
              gunicorn settings.wsgi:application --bind 0.0.0.0:8000  --log-level debug --workers=15 --worker-class=gevent --worker-connections=500"
    depends_on:
      - postgresql
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    networks:
      - dev

networks:
  dev:
    driver: bridge

volumes:
  postgres_data: