@import "../../styles/base.scss";

.advertsMain {
    padding-top: 50px;
}

@media (max-width: 600px) {
    .advertsMain {
        padding-top: 0;
    }
}

.searchText {
    font-weight: 700;
    margin-right: 20px;
}

.searchNav {
    @include flex-center();
    width: 100%;

    margin-bottom: 13px;
}

.searchNavAlign {
    align-items: flex-end;
}

@media (max-width: 450px) {
    .searchNavAlign {
        align-items: center;
    }

    .searchNav {
        box-shadow: 0px 3.28205px 3.28205px rgba(65, 64, 66, 0.05);
        border-radius: 0px 0px 16px 16px;

        padding-bottom: 12px;
        margin-bottom: 24px;
    }
}