@value reverse from "../RealtyFilter/realty_filter.module.scss";

.avtoFilter {
    padding-left: 18px;

    display: grid;
    grid-template: max-content max-content / 180px 160px;
    grid-gap: 10px 20px;
}

@media (max-width: 1300px) {
    .avtoFilter {
        padding-left: 0;
        margin-top: 12px;

        grid-template: max-content max-content / 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .avtoFilter {
        margin-top: 0;
        grid-gap: 0;
        
        display: flex;
        flex-direction: column;
    }
}

.mobileRowReverse {
    composes: reverse;
}

@media (max-width: 600px) {
    .mobileRowReverse {
        display: flex;
        flex-direction: row-reverse;

        grid-gap: 11px;
    }
}

.mobileRowReverseAvto {
    composes: mobileRowReverse;
}

@media (max-width: 600px) {
    .mobileRowReverse {
       flex-direction: column;

       grid-gap: 0;
    }
}