@import "../../../../../../../styles/base.scss";

.modal {
    box-sizing: border-box;
    @include box(760px, 240px);
    padding: 33px 0 0 66px;
    border-radius: 20px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #fff;
    z-index: 21;
}

@media (max-width: 900px) {
    .modal {
        width: calc(100% - 20px);
    }
}

@media (max-width: 600px) {
    .modal {
        position: fixed;
        left: 0;
        top: calc(100% - 70%);
        transform: none;

        @include box(100%, 70%);
        border-radius: 16px 16px 0 0;
        padding: 31px 12px 0;

    }
}

.dimmer {
    position: fixed;
    top: 0;
    left: 0;

    @include box(100%);

    background: rgba(0, 0, 0, 0.3);
    z-index: 20;
}

.modalTitle {
    margin-bottom: 14px;
}

@media (max-width: 600px) {
    .modalTitle {
        @include font(14px, 600);
        text-align: center;
    }
}

.field {
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .field {
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        grid-gap: 15px;
    }
}

.input {
    @include box(140px, 40px);
    box-sizing: border-box;
    padding-left: 19px;
    border-radius: 9px;
    border: 1px solid #F6F6F6;

    @include font(14px, 600, 15px, #414042);

    background: #F6F6F6;
    
    &::placeholder {
        @include font(14px, 600, 15px, #BDBDBD)
    }
}

@media (max-width: 600px) {
    .input {
        padding-left: 12px;
        width: 100%;
    }
}

.line {
    width: 15px;
    height: 2px;

    background: rgba(65, 64, 66, 0.6);
    border-radius: 2px;

    margin: 0 12px;
}

@media (max-width: 600px) {
    .line {
        display: none;
    }
}

.apply {
    background: #7AB1FF;

    margin-top: 40px;
    border-radius: 30px;

    @include flex-center();
    @include box(130px, 40px);
    @include font(14px, 600, 14px, #fff);

}

@media (max-width: 600px) {
    .apply {
        @include box(100%, 37px);
        @include font(13px, 600, 14px, #fff);

        margin-top: 12px;
        border-radius: 16px;
    }
}