/* 

Navigation:
press ctrl + F and paste:
    - Subtitle chat
    - Chat palace
    - Chat navbar 
    - Dailog in navbar
    - Active chat styles
    - Active dialog
*/



/* Subtitle chat */

.chat-place img {
    object-fit: cover;
    object-position: center;
}

.subtitle {
    display: flex;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 33px;
    
    margin-top: 50px;

}

@media (max-width: 1100px) {
    .subtitle {
        margin-top: 20px;
    }
}

.subtitle-go-back__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;

    color: #7AB1FF;

    vertical-align: 4px;
    margin-left: 10px;
}

/* Chat palace */

.chat-place {
    margin-top: 20px;
    height: calc(100vh - 120px - 20px - 80px - 40px);
    background: #FFFFFF;
    outline: 2px solid #EDEDED;
    border-radius: 20px;

    display: grid;
    grid-template: 'nav header' max-content 'nav dialog' 1fr 'nav input' max-content / 6fr 13fr;
}

@media (max-width: 1100px) {
    .chat-place {
        width: calc(100% - 50px);
    }
}

@media (min-width: 800px) and (max-width: 1100px) {
    .subtitle {
        width: calc(100% - 50px);
    }
}

/* Chat navbar */

.chat-navbar {
    display: grid;
    grid-area: nav;

    box-sizing: border-box;
    width: 100%;
    min-width: 325px;
    z-index: 2;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 20px;

    justify-self: start;
    grid-template-rows: 40px auto;

    padding-top: 25px;
    padding-bottom: 24px;
}

.chat-search {
    margin: 0;

    
}

@media (max-width: 640px) {
    .chat-search input {
        padding-left: 9px;
    }
}


.chat-serch-area {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 20px;
}

@media (max-width: 800px) {
    .chat-serch-area {
        padding: 0 30px;
    }
}

@media (max-width: 600px) {
    .chat-serch-area {
        padding: 0 12px;
    }
}

.search-cancel-btn {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13.1282px;
    line-height: 10px;
    text-align: center;
    letter-spacing: -0.410256px;
    color: #7AB1FF;

    margin-left: 10px;
}

@media (min-width: 800px) {
    .search-cancel-btn {
        display: none;
    }
}

@media (max-width: 800px) {
    .chat-search {
        max-width: calc(100%);
    }
}

@media (max-width: 600px) {
    .chat-search {
        max-width: calc(100% - 24px);
    }
}

.chat-container {
    margin-top: 28px;
    
    overflow: hidden; 
    overflow-y: scroll;
    box-sizing: content-box;
}

.chat-container::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: transparent;

}

/* Dailog in navbar */

.nav-dialog {
    display: grid;

    padding-top: 2px;
    padding-bottom: 1px;

    margin: 0 auto;
    width: 90.55%;
    height: 66px;
    border-bottom: 1px solid #EDEDED;

    grid-template-columns: 62px auto;
    column-gap: 10px;

    position: relative;
}

.nav-dialog__active {
    background: rgba(122, 177, 255, 0.2);
}

.user-logo{
    align-self: center;
    height: 60px;
    width: 60px;
}

.user-logo__image {
    border-radius: 50%;
    height: 60px;
    width: 60px;

    background-color: #7AB1FF;
}

@media (max-width: 600px) {
    .user-logo__image {
        height: 50px;
        width: 50px;
    }
}

.dialog-preview {
    display: grid;

    height: 100%;
    width: 100%;   

    margin: 0 auto;

    grid-template-rows: 20px 40px;
    row-gap: 3px;
}

.dialog-title {
    display: inline;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #414042;

    grid-template-columns: repeat(3, auto);
}

.dialog-message {
    display: grid;


    font-weight: 400;
    font-size: 13px;
    line-height: 18px;

    color: rgba(65, 64, 66, 0.6);

    grid-template-columns: auto auto;
}

.dialog-time {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    float: right;
}

.dialog-message__text {
    width: 100%; 
    background: transparent; 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

.unreadMessages{
    background: #7AB1FF;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    text-align: center;
    
    position: absolute;
    bottom: 13px;
    right: 0;

    font-weight: 700;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.verifiedflag {
    margin-left: 2px;
}

.onlineFlag {
    display:inline-flex;

    width: 10px;
    height: 10px;

    margin-left: 4px;
    background: #71CD96;;
    border-radius: 100%;
}

.readUserMessage {
    margin-right: 4px;
}

/* Active chat styles */

.place-chat {
    display: grid;
    grid-template: max-content 1fr / 1fr;
    max-width: 100%;

    width: 100%;
    height: 100%;
    max-height: 100%;
    justify-self: end;

    background-color: #fff;

    position: relative;
    box-sizing: border-box;
}

.place-chat__active {
    grid-template-rows: 102px 100px auto 60px;
}

/* chat palaces */
.chat-palace__clear {
    display: grid;

    width: 264px;
    height: 280px;

    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.408px;
    color: #414042;    

    justify-items: center;

    align-self: center;
    justify-self: center;
}

.chat-palace__clear-text-prview {
    font-weight: 700;  
    line-height: 2.4;
}

/* Open dialog styles */    

.place-cointeiner {
    display: grid;

    width: calc(100% + 15px);
    height: 100%;
    max-height: auto;
    justify-self: end;

    grid-template-rows: auto 60px;

}

.dialog-container {
    display: grid;

    width: 92.51%;
    height: 100%;
    max-height: 100%;
    margin-right: 20px;
    padding-top: 120px;

    overflow: hidden;

    justify-self: end;

    box-sizing: border-box;

    overflow: hidden;
    overflow-y: scroll;
}

.dialog__active {
    display: grid;

    width: 100%;
    height: 100%;

    grid-template-rows: auto 60px;
}
/* Dailog header */
.dialog-header {
    display: grid;

    box-sizing: border-box;
    width: 92.8%;
    height: max-content;

    justify-self: center;

    border-bottom: 1px solid #EDEDED;

    grid-template-columns: 62px auto max-content ;

    padding: 25px 20px 20px;
    

    position: relative;
}



.dialog-logo {
    display: grid;
    align-self: center;
}

.dialog-username {
    align-self: center;
    margin-left: 20px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 800px) {
    .dialog-username {
        align-items: flex-start;
    }
}

@media (max-width: 1000px) {
    .dialog-username {
        margin-left: 10px;
    }
}

.dialog-title__username {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: #414042;
}

/* Button */
.dialog-button {
    align-self: center;
}

.dialog-button__button {

    background: #F6F6F6;
    border-radius: 30px;

    padding: 13px;
    
    text-align: center;
    color: #7AB1FF;

    font-weight: 700;
    size: 16px;
    line-height: 14px;
    min-width: 190px;
}

@media (max-width: 960px) {
    .dialog-header {
        grid-template-columns: 62px 1fr max-content;
    }
    .dialog-button__button {
        min-width: auto;
        width: max-content;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Chat input */

.chat-input {
    display: grid;
    position: relative;

    background-color: #EDEDED;
    
    height: 60px;
    width: calc(100% + 15px);    

    justify-self: end;
    align-self: end;

    border-radius: 0px 0px 20px 0px;
}

.input-container {
    display: grid;

    height: 40px;
    width: 84%;

    justify-self: center;
    align-self: center;

    align-items: center;

    grid-template-columns: 31px auto 31px;
    column-gap: 30px;
}

.chat-message__input {
    height: 40px;
    box-sizing: border-box;
    position: relative;
    border-radius: 30px;
    border: 2px solid #EDEDED;
    padding: 2px;
    margin-right: 0;
    background-color: #F6F6F6;
    --filter-btn-width: 96px;
}

.chat-input__form {
    display: grid;

    width: 100%;
    height: 100%;

}

.chat__field input {
    
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;

}

.chat__field input::placeholder {
    color: #BDBDBD;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
}

/* Messages */

.chat-main {
    display: grid;

    height: 100%;
    width: 100%;
    max-width: 100%;

    
    grid-gap: 15px;
    padding-right: 20px;
    box-sizing: border-box;

}

.chat-messages__place {
    display: grid;

    width: 100%;
    height: auto;
}

.message-container {
    display: grid;
    align-items: end;
}

.message {
    display: grid;


    overflow-wrap: break-word;
    word-wrap: break-word;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;    
    height: max-content;
}

.message-date {
    width: 100%;
    height: 20px;

    text-align: center;
    align-items: center;

    font-family: 'Open Sans';
    line-height: 7px;
    color: #BDBDBD;
}

.message-style {
    max-width: 80%;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    height: max-content;

    overflow-wrap: break-word;  /* не поддерживает IE, Firefox; является копией word-wrap */ 
    word-wrap: break-word;
    word-break: break-all;  /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */ 
}
@media (max-width: 600px) {
    .message-style {
        padding: 8px 11px;

    }
}

.message-style__seller {
    justify-self: start;
    background-color: #F6F6F6;
    color: #414042;
}

.message-style__user {
    justify-self: end;
    background-color: #7AB1FF;
    color: #FFF;
}

.message__time {
    margin-top: -2px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    letter-spacing: -0.5px;
    text-transform: uppercase;
    color: rgba(65, 64, 66, 0.4);
}

.modal {

    display: none;


    width: min-content;
    z-index: 3;

    position: absolute !important;
    bottom: calc(100% + 20px);
    
}

@media (max-width: 800px) {
    .modal {
        left: 10px;
    }
}

.modal.active {
    display: grid;
    position: absolute;
    align-items: center;    
    background-color: transparent;

    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
}

.button__mediaModal {
    display: grid;
    width: 60px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 50px;

    justify-content: center;
    align-items: center;
}

.modal label {
    width: max-content;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
}

.decor__mediaModal {
    display: none;
}

.container-button__mediaModal {
    display: grid;
    width: 60px;
    height: 60px;

    justify-content: center;
    align-items: center;

    grid-template-columns: 60px auto;
    column-gap: 15px;

}

@media (max-width: 600px) {
    .modal__media {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 170px;
    }
    .modal.active {
        background-color: #fff;
        row-gap: 0px;
        box-shadow: 0px -4.92308px 3.28205px rgba(65, 64, 66, 0.05);
        grid-template-rows: 20px 1fr 1fr;
    }
    .button__mediaModal {
        display: grid;
        width: 60px;
        height: 60px;
        background-color: #fff;
        box-shadow: none;
        border-radius: 50px;

        align-items: center;
    }
    .decor__mediaModal {
        display: grid;
        margin-top: 5px;
        height: 8px;
        min-width: 150px;

        justify-self: center;

        background: #EDEDED;
        border-radius: 8px;
    }
}

/*   Message climes   */

.chat-dealClaims {
    display: grid;
    
    height: 164px;
    width: 287px;

    justify-items: center;
    justify-self: center;


    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.5px;

    grid-template-rows: auto auto auto;
    row-gap: 3px;
}

.dealClaims-text {
    width: 211px;
}

.dealClaims-buttonContainer {
    display: grid;

    width: 100%;

    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
}

.dealClaims-button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;

    border-radius: 30px;
    padding: 13px 45px;
}

.dealClaims-button__accept {
    background-color: #7AB1FF;
    color: #FFF;
}

.dealClaims-button__reject {
    background: #F6F6F6;
}

/* Advertisement */
.chat-advertisement {
    display: grid;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 10px;

    align-items: center;
    justify-self: center;

    background: #F6F6F6;
    border-radius: 20px;
    margin-bottom: 20px;
    

    position: absolute;
    z-index: 2;
    top: 125px;
}

.advertisement-container {
    margin-left: 11px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #414042;
}
.alert-scammers__main {
    font-weight: 900;
}

.chat-advertisement__not-verified {
    grid-template-columns: 62px auto auto;
}

.product-preview {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

.product-title {
    margin-left: 26px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.5px;
    text-transform: lowercase;
}

.product__name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #414042
}

.product__cost {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    color: #414042;
}

.advertisement__link {
    width:fit-content;

    justify-self: end;
    margin-right: 32px;

    background: #F6F6F6;
    color: #7AB1FF;
    font-weight: 700;
    size: 16px;
    line-height: 14px;
}


/* Medias !!! */

@media (max-width: 599px) {

    .input-container {
        max-width: 80%;
    }

    .chat-input {
        width: calc(100%);
        margin-right: -12px;
        border-radius: 0;
    }
}

@media (max-width: 799px) {
    /* nav placemant */
    .chat-navbar {
        width: 100%;
        background: #FFFFFF;
        outline: 0px;
        border-radius: 20px;
        box-shadow: none;

        
    }
    .nav-dialog {
        width: 100%;
        margin: 0 0;
    }
    .chat-place {
        margin-top: 0;
        height: 100vh;
        max-height: 100vh;
        outline: 0;
        border-radius: 0;
    }
    .main {
        height: 100vh;
    }

    .chat-search {
        position: sticky;
        width: 100%;
    }
    .chat-container {
        height: 100%;
        padding-right: 4px;
        overflow: hidden;
        overflow-y: scroll;
        margin-bottom: 0;
    }

    /* chat placemant */

    .place-chat {
        display: none;

        max-width: 100%;

    }
    .input-container {
        max-width: 85%;
    }

    .chat-input {
        width: calc(100% + 64px);
        margin-right: -30px;
        border-radius: 0;
    }
    .input-container {
        grid-template-columns: 31px auto;
    }
    .input-sendButton {
        display: none;
    }

    .chat-advertisement {
        width: 92%;

        margin-bottom: 0;
    }
 
    /* dialog header */
    .dialog-header {
        width: 92%;
        grid-template-columns: 62px auto 62px;
    }

    .dialog-container {
        width: 92%;
        margin-right: 22px;
    }

    .dialog-username {
        justify-self: center;
    }
}

@media (max-width: 800px) {
    .chat-desktop-elem {
        display: none !important;
    }
}

@media (min-width: 800px) {
    .chat-mobile-elem {
        display: none !important;
    }
}

@media (max-width: 800px) {
    .subtitle {
        margin-top: 0;
    }

    .subtitle-text__main {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 27px;
        text-align: center;
        color: #414042;
    }

    .dialog-header {
        width: calc(100%);
    }

    .chat__active {
        display: block !important;
    }

    .dialog-header {
        height: max-content;
    }
}


    

@media (max-width: 800px) {
    /* .chat-main {
        height: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    } */

    .chat-main-wrapper {
        position: absolute;
    }

    .dialog-container {
        height: 100%;
    }

    .dialog-container {
        width: 100%;
        height: max-content;

        overflow: hidden;
        overflow-y: auto;
        margin: 0;
    }

    .chat-main {
        overflow: visible;
    }
}


#__next {
    display: flex;
    flex-direction: column;
}

.online-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10.6667px;
    line-height: 16px;
    /* identical to box height, or 154% */

    letter-spacing: -0.410256px;
    text-transform: lowercase;

    /* Черный 40 */

    color: rgba(65, 64, 66, 0.4);

}

@media (max-width: 800px) {
    .input-sendButton {
        display: inline-block;
    }

    .input-container {
        display: grid;
        grid-template: 1fr / max-content 1fr max-content;

        grid-gap: 13px;

        width: 100%;
        max-width: 100%;
    }

    .chat-input {
        width: 100%;
        margin: 0;
        padding: 0 5px;

        background-color: #fff;
        box-shadow: 0px -3.28205px 3.28205px rgba(65, 64, 66, 0.05);
    }
}

.paper-clip-icon {
    height: 30px;
}

.paper-clip-icon svg {
    height: 30px;
    width: 30px;
}

.input-sendButton {
    height: 30px;

}


.input-sendButton svg {
    width: 30px;
    height: 30px;

    fill: #7AB1FF;
}

.input-sendButton:disabled svg {
    fill: #BDBDBD;

}

@media (max-width: 600px) {
    .input-sendButton {
        height: 25px;
    }
    
    .input-sendButton svg {
        width: 25px;
        height: 25px;
    }

    .paper-clip-icon {
        height: 25px;
    }
    
    .paper-clip-icon svg {
        height: 25px;
        width: 25px;
    }

    .input-container {
        grid-gap: 7px;
    }
}

@media (max-width: 800px) {
    .chat-advertisement {
        width: calc(100% - 60px);
        top: calc(94px + 22px);

    }
}

@media (max-width: 600px) {
    .chat-advertisement {
        width: calc(100% - 24px);
        top: calc(84px + 22px);

        height: 66px;
        padding: 4px;
        padding-right: 17px;
    }
}

@media (max-width: 600px) {
    .chat-advertisement {
        display: grid;
        grid-template: 1fr / max-content max-content 1fr;

        grid-gap: 12px;
    }
    .product-preview {
        height: 58px;
        width: 58px;
    }

    .product-title {
        margin: 0;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .advertisement__link {
        margin: 0;
    }

    .product__name {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 13.1282px;
        line-height: 16px;
        letter-spacing: -0.410256px;
        color: #414042;
    }

    .product__cost {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16.4103px;
        line-height: 27px;
        text-align: right;
        letter-spacing: -0.410256px;
        color: #414042;
    }

    .advertisement__link {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 13.1282px;
        line-height: 10px;
        text-align: right;
        letter-spacing: -0.410256px;
        color: #7AB1FF;
    }
}

@media (max-width: 600px) {
    .chat-messages-nav {
        position: fixed;
        top: 85px;
        left: 0;
        height: 100%;

        display: grid;
        grid-template: max-content 1fr / 1fr;


        grid-gap: 25px;
    }

    .chat-place--navbar {
        max-height: none;
        height: 100%;
    }

    .chat-place--navbar .chat-navbar {
        padding-top: 0;

        grid-gap: 25px;

        display: grid;
        grid-template: max-content 1fr / 1fr;
    }

    .chat-place--navbar .chat-container {
        margin: 0;
    }
}

.chats-scroll {
    height: 100%;

    overflow: hidden;
    overflow-y: hidden;
}

.main-chat {
    max-height: none;
    min-height: auto;
    height: calc(100vh - 120px);
}

@media (min-width: 800px) and (max-width: 1100px) {
    .main-chat {
        height: calc(100vh - 174px);
    }
}

.place-chat {
    grid-template: max-content 1fr max-content / 1fr;
}

.dialog-day {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    color: #BDBDBD;

    width: 100%;
}

@media (max-width: 600px) {
    .dialog-day {
        font-size: 13px;
        line-height: 14px;
    }
}

@media (max-width: 800px) {
    .chat-input {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 2;
    }
}

.center-void {
    display: grid;
    grid-template: 'nav' 1fr / 6fr 13fr;
} 

.void {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
}

.media-message {
    width: 70%;
    position: relative;
    box-sizing: border-box;

    border-radius: 20px;
    display: flex;
    flex-direction: column;

    padding: 2px;


}

.message-img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border-radius: 20px;

    display: flex;

    object-fit: contain !important;

    
}

.message-img__user {
    justify-self: end;

}

@media (min-width: 1250px) {
    .chat-input {
        width: calc(100% + 20px);
    }
}

.message-text-content {
    color: #000;

    border-radius: 20px;
    margin-top: 5px;
    padding: 10px 20px;
    background-color: #f6f6f6;

}

.message-img__user .message-text-content {
    color: #fff;
    background-color: #7AB1FF;
    
}

.button__mediaModal__text {
    text-shadow: 1px 1px 5px #fff;


}

.chat-advertisement-verified {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    padding: 10px 20px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #414042;

    min-height: 100px;
    max-height: max-content;

    grid-gap: 5px;
}


@media (max-width: 900px) {
    .verified-btn-width {
        max-width: 190px;
    }
}



.search_msg-results {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.408px;
    color: #414042;

    margin-bottom: 20px;
    padding: 0 20px;
}

@media (max-width: 800px) {
    .search_msg-results {
        padding: 0;
    }
}

@media (max-width: 600px) {
    .search_msg-results {
        display: none;
    }
}

.message {
    position: relative;
}

.message * {
    position: relative;
    z-index: 1;
}

.message::before {
    content: '';

    position: absolute;
    top: -5px;
    left: 0;

    width: 100%;
    height: calc(100% + 10px);
    border-radius: 20px;

    background-color: #7AB1FF40;
    opacity: 0;

    transition: opacity 700ms;
}

.message_active::before {
    opacity: 1;
}