@import '../../../../../../styles/base.scss';


.categoryFilter {
    box-sizing: border-box;
    width: 100%;

    padding-left: 19px;
    display: grid;
}

.realtyFilter {
    composes: categoryFilter;

    max-width: 560px;

    display: grid;
    grid-template: 1fr / 1fr 190px;
    grid-gap: 10px;
}

@media (max-width: 1300px) {
    .realtyFilter {
        margin-top: 20px;
        padding-left: 0;

        max-width: 100%;
        width: 100%;

        grid-template: 1fr / 1fr 240px;
    }
}

@media (max-width: 600px) {
    .realtyFilter {
        grid-gap: 12px;
        margin-top: 0;

        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .realtyFilter {

        grid-template: 1fr / 1fr 190px;
    }
}

.rowSelctor {
    @include box(100%, 45px);
    box-sizing: border-box;

    background: #F6F6F6;

    border-radius: 9px;
    padding: 2px;

    display: grid;

    // margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }
}

.rowOption {
    // flex-grow: 1;
    cursor: pointer;
    @include flex-center();
    
    border-radius: 7px;

    background: transparent;

    @include font(16px, 700, 14px)
}

@media (max-width: 600px) {
    .rowOption {
        font-size: 14px;
        font-weight: 600;
    }
}

.rowOptionSelected {
    border: 1px solid transparent;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
    background: #fff;
}

.reverse {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.reverseWithRooms {
    composes: reverse;
}

@media (max-width: 600px) {
    .reverseWithRooms {
        // flex-direction: row-reverse;
        grid-gap: 10px;
        margin-bottom: 14px;

        & div {
            margin-bottom: 0 !important;
        }
    }
}


@media (max-width: 600px) {
    .desktop {
        display: none;
    }
}

@media (min-width: 600px) {
    .mobile {
        display: none;
    }
}

.orderFilter {
    margin-top: 2px;
    border-top: 1px solid #EDEDED;
    padding-top: 12px;
}

.adaptiveColumn {
    composes: reverse;
    width: fit-content;

    min-width: 240px;
}

@media (max-width: 1300px) {
    .adaptiveColumn {
       width: 100%;
       flex-grow: 1;

    }
    
}

.stableColumn {
    composes: reverse;

    min-width: 240px;
}

@media (max-width: 1320px) {
    .stableColumn {
        min-width: 200px;

    }
    
}

@media (max-width: 830px) {
    .stableColumn {
       min-width: max-content;

    }
    
}